@font-face{
	font-family: 'Helvetica';
	src:url('../fonts/Helvetica Inserat LT.ttf');
}

$font-stack: 'Tahoma', sans-serif;
$font-stack-title: 'Helvetica', sans-serif;

$black: #000;
$link: #b6b6b6;
$dark-grey: #666666;
$grey:#cccccc;

$transit: all .3s;

@import "reset";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font: 100% $font-stack;
  color: $black;
  line-height:1.5;
  font-size:12px;
  font-weight: 500;
  min-width: 480px;
  background: #fff;
}
h1,h2,h3,h4,h5{
	margin-bottom: 10px;
}
h1{
  font-size:30px;
  font-family:$font-stack-title;
}
h2{
	font-size: 30px;
}
p{
	margin-bottom: 10px;
}
a{
	text-decoration: none;
	color:$link;
}
.clearfix:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}
.btn{
	display: inline-block;
	padding: 10px 50px;;
	font-size: 17px;
	border-radius: 5px;
	background: #f1c40f;
	transition:$transit;
	color:$black;

	&:hover{
		color:$grey;
		cursor: pointer;
	} 
}
.center-wrapper{
	margin:0 auto;
	padding: 0px 10px;
	min-width: 800px;
	max-width: 1280px;
}
.flex-wrapper{
	display: flex;
	flex-wrap:wrap;
}
.header{

	margin:10px auto;

	*{
		transition:$transit;
	}

	&__content{
		background: $grey;
		min-height: 100px;
		width: 100%;
		align-items:flex-end;
		justify-content:space-between;
		padding: 10px;
	}
}

.main-menu{
	position: relative;
	top: 7px;
	margin-left: 2px;

	&__item{
		display: inline-block;
		position: relative;
		font-size: 14px;
		margin-left: -2px;

		&:last-child{
			margin-left: -1px;
		}
	}


	&__submenu{

		position: absolute;
		left: 0;
		top: 27px;
		background: $black;
		width: 150px;
		padding:5px 10px;

		&-link{
		  display: block;
		  width: 100%;
		  padding:5px 0px;
		  border-bottom: 1px solid #fff;

		  }

		&-item:last-child{
			a{
				border-bottom: none;
			}
		}
		
	}

	&__link{
		padding: 5px 25px;
		color:#fff;
		font-weight: bold;
		background: $dark-grey;
		text-align: center;
	}
}

.flags{

	&__item{
		display: inline-block;
		opacity: .5;
		vertical-align: bottom;

		&:hover{
			opacity: 1;
		}


	}
	&__item_selected{
		opacity: 1;
	}

	&__link{
		border: 2px solid $dark-grey;
		border-radius: 3px;
		padding: 1px;
	}
	
	&__link,
	img{
		display: block;
	}
}

.left-column{
	background: #cccccc;
	min-height: 300px;
	width: 70%;
}
.right-column{
	width: 30%;
	background: #a3a3a3;
	min-height: 300px;
}


.accordion__content{
	display: none;
}
.accodion__link.open + .accordion__content{
	display: block;
}




@media (max-width: 767px){
	
}













