@font-face{
	font-family: 'Helvetica';
	src:url('../fonts/Helvetica Inserat LT.ttf');
}

$font-stack: 'Tahoma', sans-serif;
$font-stack-title: 'Helvetica', sans-serif;

$black: #000;
$link: #fff;
$dark-grey: #666666;
$grey:#cccccc;

$transit: all .3s;

@import "reset";

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
  font: 100% $font-stack;
  color: $black;
  line-height:1.5;
  font-size:12px;
  font-weight: 500;
  min-width: 800px;
  background: #fff;
}
h1,h2,h3,h4,h5,p{
	margin-bottom: 15px;
}
h1{
	font-size:48px;
	font-family:$font-stack-title;
}
a{
	text-decoration: none;
	color:$link;
}
.clearfix:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}
.center-wrapper{
	margin:0 auto;
	max-width: 1280px;
}
.flex-wrapper{
	display: flex;
	flex-wrap:wrap;
}
.logo__title{
	position: fixed;
	left: 0;
	top:79px;
	font-size:30px;
  	font-family:$font-stack-title;
  	z-index: 2;
  	background: #910000;
  	padding: 7px;
  	word-wrap: break-word;
  	color:#fff;
  	text-transform: uppercase;
  	width: 32px;
}
.header{

	margin:10px auto;
	
	*{
		transition:$transit;
	}

	&__content{
		background: $grey;
		min-height: 100px;
		width: 100%;
		position: relative;
		padding: 10px;
	}
}
.main-menu{
	margin-left: 2px;
	position: absolute;
	bottom: 0;
	display: inline-block;

	&__submenu{
		display: none;
		position: absolute;
		left: 0;
		top: 30px;
		background: $black;
		width: 150px;
		padding:5px 10px;
		font-size: 12px;


		&-link{
		  display: block;
		  width: 100%;
		  padding:5px 0px;
		  border-bottom: 1px solid #fff;
		}

		&-item:last-child{
			a{
				border-bottom: none;
			}
		}
		
	}

	&__item{
		display: inline-block;
		position: relative;
		font-size: 14px;
		margin-left: -2px;
		z-index: 1;
		padding: 5px 25px;
		background: $dark-grey;
		transition:none;

		&:last-child{
			margin-left: -1px;
		}

		&:hover{
			background: $black;
		}

		&.sub{
			&:after{
				content:'';
				display: block;
				position: absolute;
				right: 10px;
				top: 13px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 3.5px 0 3.5px 5px;
				border-color: transparent transparent transparent #fff;
				transform:0;
			}
		}

		&.open{
			background: $black;

			.main-menu__submenu{
				display: block;
			}

			&:after{
				transform:rotateZ(90deg);
			}
		}
	}

	&__link{
		color:#fff;
		font-weight: bold;
		text-align: center;
	}
}
.flags{
	position: absolute;
	bottom: 10px;
	display: inline-block;
	right: 10px;

	&__item{
		display: inline-block;
		opacity: .5;
		vertical-align: bottom;

		&:hover{
			opacity: 1;
		}
	}

	&__item_selected{
		opacity: 1;
	}

	&__link{
		border: 2px solid $dark-grey;
		border-radius: 3px;
		padding: 1px;
	}
	
	&__link,
	img{
		display: block;
	}
}
.left-column{
	background: $grey;
	width: 70%;
	padding: 10px;
}
.right-column{
	width: 30%;
	background: #a3a3a3;
	padding: 10px;
}

.content-block-wrapper{
	background: $dark-grey;
	padding: 10px 25px 10px;
	color:#fff;
	height: 100%;
}
.content-block{ 

	&__title{
		border-bottom: 1px solid #7a7a7a;

		&:after{
			content:'';
			height: 1px;
			width: 100%;
			display: block;
			background: $black;
		}
	}

	&__text{
		text-indent: 30px
	}

}
.data-table{
	background: #282828;

	table{
		width: 100%;
		table-layout: fixed;
		text-align: center;
	}

	th{
		background: $black;
		cursor: pointer;
		transition:$transit;

		&:hover{
			background: #a3a3a3
		}
	}

	th,
	td{
		padding: 10px;
		word-wrap: break-word;
		border-bottom: 1px solid $dark-grey;
	}
	
}
.right-column{
	.content-block-wrapper{
		padding: 10px;
	}
}
.accordion{

	background: $black;

	&__content{
		display: none;
		padding: 10px 0;
	}

	&__item{
		border-bottom: 1px solid #fff;
		padding: 10px 10px;
		position: relative;

		&:last-child{
			border-bottom: none;
		}

		&:after{
			content:'';
			display: block;
			position: absolute;
			right: 10px;
			top: 16px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3.5px 0 3.5px 5px;
			border-color: transparent transparent transparent #fff;
			transform:0;
		}

		&.open{

			.accordion__content{
				display: block;
			}
			&:after{
				transform:rotateZ(90deg);
			}

		}
	}

	&__link{
		display: block;
	}
}
.footer{

	&__content{
		padding: 10px;
		background:$grey;
		margin: 10px auto;
		justify-content:space-between;
		color:#515151;
		font-size: 14px;
	}

	&-menu{

		&__item{
			display: inline-block;
		}

		&__link{
			text-decoration: underline;
			color:#515151;
			margin-left: 10px;

			&:hover{
				text-decoration: none;
			}
		}
	}
}
.load-more-but{
	text-transform: uppercase;
	background: #333;
	padding: 3px 10px;
	margin: 20px auto;
	display: inline-block;

	&:hover{
		background: #555;
	}
}














