body {
  line-height:1.5;
  font-size:17px;
  font-weight: 500;
  min-width: 480px;
}
h1,h2,h3,h4,h5{
	margin-bottom: 10px;
}
h1{
  font-size:30px;
}
h2{
	font-size: 30px;
}
p{
	margin-bottom: 10px;
}
a{
	text-decoration: none;
}
.clearfix:after{
	content:'';
	display: block;
	height: 0;
	clear: both;
}

.center-wrapper{
	margin:0 auto;
	max-width: 940px;
	background: #fff;
	padding: 40px 80px;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin-top: -40px;
	box-shadow:  0 0 10px rgba(0, 0, 0, .1)
}
header{
	background: #eee url("../img/header-bg.jpg") no-repeat;
	background-size: cover;
	min-height: 400px;
}

.accordion__content{
	display: none;
}
.accodion__link.open + .accordion__content{
	display: block;
}
